html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #595959;
    font-family: "Lato", sans-serif;
}

#adspot {
    display:flex;
    flex-direction: column;
    justify-content: center;
    position:absolute;
    top: 0px;
    right: 0px;
    padding-right: 10px;
    padding-left: 10px;
    width:fit-content;
    height: 100%;
    background-color: #996633;
}

#content, #app, #skellieDisplay, #skellieList {
    min-height: 90vh;
}

footer {
    background-color: #996633;
    color:white;
    padding:1px;
    text-align: center;
    box-shadow: 0 50vh 0 50vh #996633;
}

footer p a {
    color: white;
}

#skellies {
    display: grid;
    grid-template-columns: 18vw 18vw 18vw 18vw 18vw;
    grid-auto-flow: dense;
    padding: 20px;
    gap: 3px;
}

#skellies .skellie {
    align-content: end;
    padding: 20px;
    overflow-x: hidden;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: end;
}

#skellies a {
    background-color: #474747;
    border: 2px solid white;
    color: white;
    align-content: end;
}

#skellies a .skellie{
    display:flex;
    flex-flow:column;
    justify-content: space-evenly;
}

#skellies a .skellie .skellieFace {
    width: auto;
    max-width: 18vw;
    height: fit-content;
    max-height: 30vh;
}

.skellieImg {
    width: auto;
    max-width: 50vw;
    height: auto;
    margin: 0 auto;
    display:block;
    padding-bottom: 15px;
    padding-top: 15px;
}

.skellieOwner, .skellieName {
    text-align: center;
}

.skelliePageDisplay {
    background-color: #474747;
}

#skellieInfo {
	justify-items: center;
	background-color: #595959;
	display: grid;
	grid-template-columns: 6vw 32vw 32vw 10vw;
	grid-auto-rows: min-content;
	align-items: baseline;
	gap: 10px;
	justify-content: space-evenly;
}

#skellieInfo .skellieName {
    grid-column: 2;
    grid-row: 1;
    color: white;
}
#skellieInfo .skellieOwner {
    grid-column: 3;
    grid-row: 1;
    color:white;
}
#skellieInfo .bio {
    grid-column: 2;
    grid-row: 3;
    justify-self: start;
    color:white;
}

#skellieInfo .bioform {
    display:flex;
    align-items: start;
    justify-self: end;
}

#skellieInfo .commentsSection {
    grid-column: 3;
    grid-row: 3;
    color:white;
}

#skellieInfo .commentForm {
    display:flex;
    align-items: start;
    justify-self: end;
}

#skellieInfo .commentForm #posterSelect {
    width:25%;
}

#skellieInfo .commentForm #comment {
    width:75%;
}

#skellieInfo .commentForm .formSubmit {
    width:25%;
}

.commentContainer {
    height:fit-content;
    color:white;
}
#skellieInfo .whitelist {
    grid-column: 2;
    grid-row: 5;
    justify-self: start;
    color: white;
}
#skellieInfo .deleteDiv {
    grid-column: 3;
    grid-row: 5;
    justify-self: end;
    color:red;
}
#skellieInfo .deleteDiv #deleteButton {
    margin: 0 auto;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #996633;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #996633;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #bd834a;
}

.mainForm {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-auto-rows: min-content;
    grid-auto-flow: row;
    gap: 5px;
    height: auto;
    width: 500px;
    /* margin: 0 auto; */
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    font-size: 1.2em;
    background-color: #474747;
    border: 2px solid white;
}

.skelliePreview {
    padding-top: 20px;
    margin: 0 auto;
    width: auto;
    max-width: 18vw;
    height: fit-content;
    max-height: 30vh;
    display:block;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    color: white;
    width: auto;
    margin-right: 10px;
    text-align: left;
    font-size: 1.2em;
}

.mainForm #skellieIcon {
    color: white;
    overflow-x: hidden;
}

.skellieSearch {
    display: flex;
    flex-flow: row;
    padding: 10px 10px;
    justify-items: center;
    background-color: #474747;
}

.skellieSearch label {
    align-self: center;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.skellieSearch #skellieName {
    width: 50vw;
    margin-right: 10px;
}

.searchSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    /* margin: 0 auto;
    margin-top: 14px; */
    font-size: 1.2em;
    width: fit-content;
    background-color: #996633;
    border-radius: 2px;
    border-color: #bd834a;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.searchSubmit:link, .searchSubmit:visited, .searchSubmit:hover, .searchSubmit:active {
    color: white;
}

.searchSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #bd834a;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: fit-content;
    background-color: #996633;
    border-radius: 2px;
    border-color: #bd834a;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #bd834a;
}

#user, #currPass, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

.hidden {
    display: none;
}

#errorMessage {
    position: absolute;
    left: 15px;
    bottom: 50px;
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

.notFoundHeader {
    font-size: xx-large;
    text-align: center;
    color: white;
}

.notFoundError {
    text-align: center;
    color:white;
}